<% if (typeof(title)!== 'undefined'){  %>
    <h3 class="text-center my-3">
        <%- title  %>
    </h3>
    <%}  %>
        <div class="alert alert-success" role="alert">
            Tổng
            <%- num1 %> và
                <%- num2 %> là
                    <%- result %>
        </div>